@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Gruppo&family=Kalam:wght@300;400;700&family=Klee+One&family=Pontano+Sans:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(./images/header/3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 50%;
  margin: 0 auto;
  background-color: #101010; /* Tirkīza krāsa */
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(150, 150, 150, 0.3),
    -5px -5px 15px rgba(48, 47, 47, 0.5);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}

.theBall-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  position: relative;
  width: 100%;
  font-size: 1.4rem;
  padding: 10px 0;
  text-align: center;
  overflow: hidden;
  height: 16vh;
}

#contact h2,
#skills h2,
#projects h2 {
  background-color: black;
  color: white;
  width: 47vw;
  margin: 0;
  padding: 1px 0;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

header h2 {
  position: relative;
  margin-top: 0;
  border-radius: 60px 0 60px 0;
  font-size: 11rem;
  color: rgb(0, 0, 0);
  border: 2px solid rgba(245, 245, 245, 0.828);
  background-image: url("./images/header/fire-flames-isolated-black-background-abstract-blaze-fire-flame-texture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav ul li {
  flex: 1;
  text-align: center;
  border-radius: 12px;
  background: #ffffff1a;
  border: 1px solid #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  margin: 0 80px;
  padding: 0;
  width: auto;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding: 10px;
}

nav ul li a:hover {
  color: #0080ff;
}



h2 {
  font-size: 2rem;
}

form input,
form textarea {
  width: 98%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form button:hover {
  background-color: #555555;
}

.project-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

#about h2 {
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: calc(39vh - 10px);
  width: 12vh;
}

.developer-description {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.6;
}

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  height: 40vh;

}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48vh;
  margin-left: -29vh;
  margin-bottom: 2vh;
}

.about-image {
  position: relative;
  right: 17vh;
  top: 13vh;
  width: 74vh;
  height: auto;
  margin-right: 20px;
  filter: drop-shadow(0px 0px 12px rgb(138, 138, 1));
  z-index: 5; /* Nodrošina, ka attēls ir zem pogas */
}

.cv-button {
  display: block;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  width: 5vh;
  color: white;
  background-color: #007BFF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  z-index: 10; /* Nodrošina, ka poga būs virs citiem elementiem */
  position: relative;
}

.cv-button:hover {
  background-color: #0056b3;
}

.cv-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cv-modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.cv-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

section {
  width: 97%;
  padding: 20px;
  margin: 60px 0;
  background: linear-gradient(135deg, #1E1E1E, #000000);
  border: 1px solid rgba(245, 245, 245, 0.732);
  border-radius: 15px;
}

.project-video {
  width: 100%;
  max-width: 100vh;
  height: 10vh;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.hidden-text,
.more-text {
  display: none;
}

.skills-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 38px 0;
}

.skills-columns-wrapper {
  display: flex;
  width: 60%;
  height: 100%;
}

.skill-column {
  width: 100%;
  height: auto;
  background: url('./images/skills/second.jpg');
  background-size: cover;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid #26212c;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.6s, box-shadow 0.3s ease-in-out;
}

.skill-column:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 16px 48px rgba(0, 0, 0, 0.2);
}

.skill-column h3 {
  font-size: 1.8rem;
  border-radius: 12px;
  padding: 10px;
  background: #ffffff1a;
  border: 1px solid #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  color: white;
}

.skill-card-container {
  display: none;
  margin-top: 10px;
  gap: 5px;
}

.skill-card-container.open {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill-card {
  width: 32%;
  margin: 0;
  box-sizing: border-box;
}

.skill-card img {
  width: 100px;
  height: 100px;
  border: 2px solid #333;
}



.left-arrow {
  position: absolute;
  left: 100px;
}

.right-arrow {
  position: absolute;
  right: 100px;
}

.left-arrow img,
.right-arrow img {
  width: 80px;
  height: 80px;
}

.left-arrow img:hover,
.right-arrow img:hover {
  transform: scale(1.1);
}

#projects {
  text-align: center;
}


.project {
  margin-bottom: 90px;
}

.project h3 {
  background-color: #f4b41a;
  color: white;
  width: 47vw;
  margin: 0;
  padding: 8px 0;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.project-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
}

.project-description {
  margin-left: 10px;
  color: whitesmoke;
  margin-top: 3vh;
  text-align: left;
}

.project-video {
  max-width: 500px;
  width: 60%;
  height: 25vh;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.project-video:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease;
}

.project-description.expanded .visible-text {
  display: none;
}

/* 1. No 2400px un vairāk */
@media (min-width: 2400px) {
  .container {
    width: 50%; /* Mainām container platumu */
  }

  header {
    font-size: 2rem; /* Palielinām fonta lielumu header */
  }

  nav ul li {
    margin: 0 100px; /* Palielinām margin starp navigācijas saites */
  }

  .skills-container {
    height: 35vh; /* Mainām prasmes kontaineru augstumu */
  }

  .project-video {
    max-width: 120vh; /* Mainām video platumu projektos */
  }

  .about-image {
    width: 70vh; /* Mainām attēla platumu */
  }

  .project-description {
    font-size: 1.5rem; /* Palielinām fonta lielumu projektos */
  }
}

/* 2. No 601px līdz 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 70%;
  }

  nav ul li {
    margin: 0 20px;
  }

  nav ul li a {
    font-size: 1rem;
  }

  section {
    width: 95%;
  }

  .skills-container {
    flex-direction: row;
    gap: 15px;
  }

  .project-video {
    width: 80%;
  }
}

/* 3. No 480px līdz 600px */
@media (min-width: 480px) and (max-width: 600px) {
  body {
    flex-direction: column;
    padding: 10px;
  }

  #about {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 40px;
  }

  .about-image {
    width: 80vw;
    margin: 20px 0;
  }

  .developer-description {
    width: 80%;
    margin-left: 0;
  }

  .container {
    width: 90%;
  }

  header {
    padding: 20px;
    font-size: 1rem;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    font-size: 0.9rem;
    padding: 8px;
  }

  section {
    width: 100%;
    margin: 20px 0;
  }

  h2 {
    width: auto;
  }

  .skills-container {
    flex-direction: column;
    gap: 10px;
  }

  .project-content {
    flex-direction: column;
    align-items: center;
  }

  .project-video {
    width: 100%;
    margin: 0;
  }

  .project-description {
    margin: 10px 0;
    text-align: center;
  }
}

/* 4. No 480px un mazāk */
@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
  }

  .container {
    width: 95%;
    padding: 12px;
  }

  header {
    width: 100%;
    height: auto;
    font-size: 1rem;
    padding: 15px;
    margin-right: 7px;
  }

  header h2 {
    font-size: 5.5vh;
    margin-left: 9px;
    width: auto;
    padding: 16px;
    margin-top: 1rem;
    height: auto;
  }

  header .header-video {
    width: 100%;
    height: auto;
    margin-left: 1vh;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  nav ul li {
    margin: 0;
    padding: 5px;
    width: 100%;
  }

  nav ul li a {
    font-size: 0.9rem;
    padding: 8px;
  }

  section {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
  }

  .skills-columns-wrapper {
    display: flex;
    width: 80%;
    height: 100%;
  }

  .skill-card img {
    width: 60px;
    height: 60px;
    border: 2px solid #333;
  }

  .skill-card-container.open {
    margin-bottom: 3.1rem;
  }

  .arrow {
    font-size: 1.5rem;
  }

  .left-arrow {
    left: -7px;
  }

  .right-arrow {
    right: -7px;
  }

  .skill-column h3 {
    font-size: 1.4rem;
  }

  .project-content {
    flex-direction: column;
    align-items: center;
  }

  .project-video {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .project-description {
    margin: 10px 0;
    text-align: center;
    font-size: 0.9rem;
  }

  .project h3 {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px;
  }

  form input,
  form textarea {
    width: 94%;
    font-size: 1rem;
  }

  form button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }

  .developer-description {
    overflow: hidden;
    max-height: 150px;
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify;
  }

  .cv-button {
    display: block;
    margin: 1px auto;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007BFF;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    position: absolute;
  }

  .read-more-btn {
    display: block;
    margin-top: 10px;
  }

  .developer-description .more-text {
    display: none;
  }

  .developer-description.expanded .more-text {
    display: inline;
  }

  .developer-description.expanded .visible-text {
    display: none;
  }

  #about {
    width: 37vh;
    height: 54vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
  }

  #about h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -27vh;
    margin-left: 55vh;
    width: 15vh;
    padding: 4vh;
  }

  #about .about-content {
    font-size: 1rem;
    width: 45vh;
    line-height: 1.5;
    text-align: justify;
    margin-top: 6vh;
    margin-left: 0;
    z-index: 10;
  }

  .about-image {
    width: 100%;
    margin-top: -115px;
    margin-left: 18vh;
    border-radius: 10px;
  }

  .left-arrow img,
  .right-arrow img {
    width: 40px;
    height: 40px;
  }
}
/* 1. No 2400px un vairāk */
@media (min-width: 2400px) {
  .container {
    width: 50%; /* Mainām container platumu */
  }

  header {
    font-size: 2rem; /* Palielinām fonta lielumu header */
  }

  nav ul li {
    margin: 0 100px; /* Palielinām margin starp navigācijas saites */
  }

  .skills-container {
    height: 35vh; /* Mainām prasmes kontaineru augstumu */
  }

  .project-video {
    max-width: 120vh; /* Mainām video platumu projektos */
  }

  .about-image {
    width: 70vh; /* Mainām attēla platumu */
  }

  .project-description {
    font-size: 1.5rem; /* Palielinām fonta lielumu projektos */
  }
}

/* 2. No 1025px līdz 2400px */
@media (min-width: 1025px) and (max-width: 2400px) {
  header h2{
   font-size: 6rem;
  }

  .container {
  
    width: 80%;
  }

  nav ul li {
    margin: 0 20px;
  }

  nav ul li a {
    font-size: 1rem;
  }

  section {
    width: 95%;
  }

  #about {
    height: 50vh;
  }

  .skills-container {
    flex-direction: row;
    gap: 15px;
  }

  .project-video {
    width: 80%;
  }

  #skills h2,
  #projects h2,
  #contact h2 {
    width: 100%;
  }

  #projects h3 {
    width: 100%;
  }
}

/* 3. No 601px līdz 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 70%;
  }

  nav ul li {
    margin: 0 20px;
  }

  nav ul li a {
    font-size: 1rem;
  }

  section {
    width: 95%;
  }

  .skills-container {
    flex-direction: row;
    gap: 15px;
  }

  .project-video {
    width: 80%;
  }
}

/* 4. No 480px līdz 600px */
@media (min-width: 480px) and (max-width: 600px) {
  body {
    flex-direction: column;
    padding: 10px;
  }

  #about {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 40px;
  }

  .about-image {
    width: 80vw;
    margin: 20px 0;
  }

  .developer-description {
    width: 80%;
    margin-left: 0;
  }

  .container {
    width: 90%;
  }

  header {
    padding: 20px;
    font-size: 1rem;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    font-size: 0.9rem;
    padding: 8px;
  }

  section {
    width: 100%;
    margin: 20px 0;
  }

  h2 {
    width: auto;
  }

  .skills-container {
    flex-direction: column;
    gap: 10px;
  }

  .project-content {
    flex-direction: column;
    align-items: center;
  }

  .project-video {
    width: 100%;
    margin: 0;
  }

  .project-description {
    margin: 10px 0;
    text-align: center;
  }
}

/* 5. No 480px un mazāk */
@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
  }

  .container {
    width: 95%;
    padding: 12px;
  }

  header {
    width: 100%;
    height: auto;
    font-size: 1rem;
    padding: 15px;
    margin-right: 7px;
  }

  header h2 {
    font-size: 5.5vh;
    margin-left: 9px;
    width: auto;
    padding: 16px;
    margin-top: 1rem;
    height: auto;
  }

  header .header-video {
    width: 100%;
    height: auto;
    margin-left: 1vh;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  nav ul li {
    margin: 0;
    padding: 5px;
    width: 100%;
  }

  nav ul li a {
    font-size: 0.9rem;
    padding: 8px;
  }

  section {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
  }

  .skills-columns-wrapper {
    display: flex;
    width: 80%;
    height: 100%;
  }

  .skill-card img {
    width: 60px;
    height: 60px;
    border: 2px solid #333;
  }

  .skill-card-container.open {
    margin-bottom: 3.1rem;
  }

  .arrow {
    font-size: 1.5rem;
  }

  .left-arrow {
    left: -7px;
  }

  .right-arrow {
    right: -7px;
  }

  .skill-column h3 {
    font-size: 1.4rem;
  }

  .project-content {
    flex-direction: column;
    align-items: center;
  }

  .project-video {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .project-description {
    margin: 10px 0;
    text-align: center;
    font-size: 0.9rem;
  }

  .project h3 {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px;
  }

  form input,
  form textarea {
    width: 94%;
    font-size: 1rem;
  }

  form button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }

  .developer-description {
    overflow: hidden;
    max-height: 150px;
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify;
  }

  .cv-button {
    display: block;
    margin: 1px auto;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007BFF;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    position: absolute;
  }

  .read-more-btn {
    display: block;
    margin-top: 10px;
  }

  .developer-description .more-text {
    display: none;
  }

  .developer-description.expanded .more-text {
    display: inline;
  }

  .developer-description.expanded .visible-text {
    display: none;
  }

  #about {
    width: 37vh;
    height: 54vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
  }

  #about h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -27vh;
    margin-left: 55vh;
    width: 15vh;
    padding: 4vh;
  }

  #about .about-content {
    font-size: 1rem;
    width: 45vh;
    line-height: 1.5;
    text-align: justify;
    margin-top: 6vh;
    margin-left: 0;
    z-index: 10;
  }

  .about-image {
    width: 100%;
    margin-top: -115px;
    margin-left: 18vh;
    border-radius: 10px;
  }

  .left-arrow img,
  .right-arrow img {
    width: 40px;
    height: 40px;
  }
}
