@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Gruppo&family=Kalam:wght@300;400;700&family=Klee+One&family=Pontano+Sans:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(./images/header/3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 50%;
  margin: 0 auto;
  background-color: #101010; /* Tirkīza krāsa */
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(150, 150, 150, 0.3),
    -5px -5px 15px rgba(48, 47, 47, 0.5);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}

.theBall-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  position: relative;
  width: 100%;
  font-size: 1.4rem;
  padding: 10px 0;
  text-align: center;
  overflow: hidden;
  height: 16vh;
}

#contact h2,
#skills h2,
#projects h2 {
  background-color: black;
  color: white;
  width: 47vw;
  margin: 0;
  padding: 1px 0;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

header h2 {
  position: relative;
  margin-top: 0;
  border-radius: 60px 0 60px 0;
  font-size: 11rem;
  color: rgb(0, 0, 0);
  border: 2px solid rgba(245, 245, 245, 0.828);
  background-image: url("./images/header/fire-flames-isolated-black-background-abstract-blaze-fire-flame-texture.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav ul li {
  flex: 1;
  text-align: center;
  border-radius: 12px;
  background: #ffffff1a;
  border: 1px solid #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  margin: 0 80px;
  padding: 0;
  width: auto;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding: 10px;
}

nav ul li a:hover {
  color: #0080ff;
}



h2 {
  font-size: 2rem;
}

form input,
form textarea {
  width: 98%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

form button:hover {
  background-color: #555555;
}

.project-description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

#about h2 {
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
  margin-right: calc(39vh - 10px);
  width: 12vh;
}

.developer-description {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.6;
}
#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  height: 40vh;
  padding-top: 80px;
  /* Pievieno atstarpi augšpusē, lai novietotu saturu zemāk */
}

.about-content {
  display: flex;
  flex-direction: row; /* Izkārtojums uz vienu rindu */
  align-items: center; /* Centra elementus vertikāli */
  justify-content: center; /* Centra visus elementus horizontāli */
  text-align: center;
  background-color: black;
  height: 40vh;
  padding-top: 80px;
  /* Pievieno atstarpi augšpusē, lai novietotu saturu zemāk */
}

.about-image {
  position: relative; /* Izmanto relative, lai attēls būtu daļa no flex konteineriem */
  right: 0;
  bottom: 0;
  width: 30vh; /* Samazināts platums attēlam */
  height: auto;
  margin-right: 20px;
  filter: drop-shadow(0px 0px 12px rgb(138, 138, 1));
  z-index: 2;
  transition: transform 0.4s ease;
}

#about h2 {
  color: white;
  margin: 10px 0;
  /* Samazina augšējo un apakšējo margin */
  margin-left: calc(44vh + 10px);
  padding: 1px 0;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.cv-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  width: 5vh;
  color: white;
  background-color: #007BFF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  z-index: 10; /* Nodrošina, ka poga būs virs citiem elementiem */
  position: relative;
}

.cv-button:hover {
  background-color: #0056b3;
}

.cv-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cv-modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.cv-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

section {
  width: 97%;
  padding: 20px;
  margin: 60px 0;
  background: linear-gradient(135deg, #1E1E1E, #000000);
  border: 1px solid rgba(245, 245, 245, 0.732);
  border-radius: 15px;
}

.project-video {
  width: 100%;
  max-width: 100vh;
  height: 10vh;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.hidden-text,
.more-text {
  display: none;
}

.skills-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 38px 0;
}

.skills-columns-wrapper {
  display: flex;
  width: 60%;
  height: 100%;
}

.skill-column {
  width: 100%;
  height: auto;
  background: url('./images/skills/second.jpg');
  background-size: cover;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid #26212c;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.6s, box-shadow 0.3s ease-in-out;
}

.skill-column:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 16px 48px rgba(0, 0, 0, 0.2);
}

.skill-column h3 {
  font-size: 1.8rem;
  border-radius: 12px;
  padding: 10px;
  background: #ffffff1a;
  border: 1px solid #ffffff20;
  backdrop-filter: blur(16px) saturate(120%);
  color: white;
}

.skill-card-container {
  display: none;
  margin-top: 10px;
  gap: 5px;
}

.skill-card-container.open {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill-card {
  width: 32%;
  margin: 0;
  box-sizing: border-box;
}

.skill-card img {
  width: 100px;
  height: 100px;
  border: 2px solid #333;
}



.left-arrow {
  position: absolute;
  left: 100px;
}

.right-arrow {
  position: absolute;
  right: 100px;
}

.left-arrow img,
.right-arrow img {
  width: 80px;
  height: 80px;
}

.left-arrow img:hover,
.right-arrow img:hover {
  transform: scale(1.1);
}


.left-arrow {
  position: absolute;
  left: 100px;
  /* Adjust this value to move the arrow further left */
}

.right-arrow {
  position: absolute;
  right: 100px;
  /* Adjust this value to move the arrow further right */
}

.left-arrow img,
.right-arrow img {
  width: 80px;
  height: 80px;
}

.left-arrow img:hover,
.right-arrow img:hover {
  transform: scale(1.1);
}

#projects {
  text-align: center;
  /* Centra visu sekciju */
}

#projects h2 {
  background-color: black;
  color: white;
  width: 47vw;
  padding: 1px;
  border-radius: 5px;
  display: inline-block;
}

  .project {
    margin-bottom: 90px;
  }

.project h3 {
  background-color: rgb(24, 52, 2);
  color: white;
  width: 47vw;
  margin: 0;
  padding: 8px 0;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

  .project-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
  }

.project-description {
  margin-left: 10px;
  margin-top: 3vh;
  text-align: left;
}

  .project-video {
    max-width: 500px;
    width: 60%;
    height: 25vh;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

.project-video:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

/* Izlabo 'extra-text' parādīšanu un slēpšanu */
.project-description .extra-text {
  display: none;
}

/* Papildus teksts tiek rādīts tikai tad, kad tiek pievienota 'expanded' klase */
.project-description.expanded .extra-text {
  display: inline;
}

/* Paredzamais uzvedības stils, kad 'expanded' klase ir pievienota */
.project-description.expanded .visible-text {
  display: none;
}

.read-more-btn {
  cursor: pointer;
  color: blue;
  background: none;
  border: none;
  text-decoration: underline;
}

.read-more-btn:focus {
  outline: none;
}

@media (max-width: 600px) {
  body {
    flex-direction: column;
    padding: 10px;
  }

  #about {
    flex-direction: column; /* Izmainīts uz kolonnu izkārtojumu mazākos ekrānos */
    align-items: center;
    height: auto; /* mainīts, lai sekcija varētu pielāgoties */
    padding-top: 40px; /* Samazināts atstarpes augšpusē */
  }

  .about-image {
    width: 80vw; /* Attēla platums tiek samazināts uz 80% no ekrāna platuma */
    margin: 20px 0; /* Atstarpe no augšas un apakšas */
  }

  .developer-description {
    width: 80%; /* Samazina platumu, lai teksts neaizņemtu pārāk daudz vietas */
    margin-left: 0; /* Nodrošina, ka teksts tiek centrēts */
  }
  
  .container {
    width: 90%;
  }

    /* Mainīts header padding un fonta lielums */
    header {
      padding: 20px;
      font-size: 1rem;
    }

    /* Mainīti margin un fonta lielumi navigācijas saites */
    nav ul li {
      margin: 0 10px;
    }

    nav ul li a {
      font-size: 0.9rem;
      padding: 8px;
    }

    /* Mainīti sekcijas platumi */
    section {
      width: 100%;
      margin: 20px 0;
    }

    /* Mainīts h2 platums */
    h2 {
      width: auto;
    }

  .skills-container {
    flex-direction: column;
    gap: 10px;
  }

  .skills-banner {
    max-width: 100%;
    margin-top: 0;
  }

  .skills-list {
    width: 100%;
    padding-left: 10px;
  }

    .project-content {
      flex-direction: column;
      align-items: center;
    }

  .project-video {
    width: 100%;
    margin: 0;
  }

  .project-description {
    margin: 10px 0;
    text-align: center;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 70%;
  }

  nav ul li {
    margin: 0 20px;
  }

  nav ul li a {
    font-size: 1rem;
  }

  section {
    width: 95%;
  }

  .skills-container {
    flex-direction: row;
    gap: 15px;
  }

  .project-video {
    width: 80%;
  }
}

@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
  }

    .container {
      width: 95%;
      padding: 12px;
    }

    header {
      width: 100%;
      height: auto;
      font-size: 1rem;
      padding: 15px;
      margin-right: 7px;
    }

  header h2 {
    font-size: 5.5vh;
    margin-left: 9px;
    width: auto;

    padding: 16px;
    margin-top: 1rem;
    height: auto;
  }

  .header-video {
    width: 100%;
    height: auto;
    margin-left: 1vh;
  }

    nav ul {
      flex-direction: column;
      gap: 10px;
    }

    nav ul li {
      margin: 0;
      padding: 5px;
      width: 100%;
    }

    nav ul li a {
      font-size: 0.9rem;
      padding: 8px;
    }

    section {
      width: 100%;
      margin: 20px 0;
      padding: 10px;
    }

  .skills-container {
    flex-direction: column;
    gap: 15px;
  }

  .skills-banner {
    width: 100%;
    margin: 0 auto;
  }

  .skills-list {
    width: 100%;
    padding-left: 10px;
  }

    .project-content {
      flex-direction: column;
      align-items: center;
    }

    .project-video {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }

    .project-description {
      margin: 10px 0;
      text-align: center;
      font-size: 0.9rem;
    }

    .project h3 {
      display: block;
      width: 100%;
      text-align: left;
      padding: 10px;
    }

    form input,
    form textarea {
      width: 94%;
      font-size: 1rem;
    }

    form button {
      width: 100%;
      padding: 12px;
      font-size: 1rem;
    }

  .developer-description {
    overflow: hidden;
    max-height: 150px;
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify;
  }

    .read-more-btn {
      display: block;
      margin-top: 10px;
    }

    .developer-description .more-text {
      display: none;
    }

    .developer-description.expanded .more-text {
      display: inline;
    }

  .developer-description.expanded .visible-text {
    display: none;
  }
}